<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoListContext"
         connectionString="Server=ae3b28f2-a3dc-470f-98ec-a4de00917dbe.sqlserver.sequelizer.com;Database=dbae3b28f2a3dc470f98eca4de00917dbe;User ID=fulvebrtgwznahkm;Password=hV4Vz6FijUos83FYCiLgfuQrKqqyGaUetWQjPSppqsQwWwVvtecYPsyVfLjiNgJi;" />
  </connectionStrings>
</configuration>